@import 'buefy.scss';
@import 'icons.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.has-centered-content {
  justify-content: center;
}

.navbar-dropdown a.navbar-item {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.navbar-link {
  padding-left: 1.3rem;
}
