$tablet: 721px;
@import "~bulma/sass/utilities/_all";

$teal: #145e75;
$lime: #72c455;
$lila: #642b60;
$aqua: #139999;
$ashes: hsl(0, 0%, 96%);

$primary: $teal;
$primary-invert: findColorInvert($primary);
//$primary-light: findLightColor($primary);
//$primary-dark: findDarkColor($primary);

$info: $aqua;
$info-invert: findColorInvert($info);
//$info-light: findLightColor($info);
//$info-dark: findDarkColor($info);

$link: $aqua;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$fullhd: $widescreen;

$section-padding: 5em 1.5em;
$navbar-burger-color: $white;
$navbar-breakpoint: $tablet;

$navbar-dropdown-background-color: $teal;
$navbar-dropdown-border-top: 0;
$dropdown-item-active-color: $teal;
$dropdown-background-color: $teal;
$navbar-dropdown-arrow: $aqua;
$navbar-item-img-max-height: 5rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 0;

$table-background-color: $ashes;
$background-color: $ashes;

$table-cell-padding: 0.5em 0.5em;
$tablet: 721px;
