@import "~bulma/sass/utilities/_all";
$teal: #145e75;
$lime: #72c455;
$lila: #642b60;
$aqua: #139999;

$primary: $teal;
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);

$info: $aqua;
$info-invert: findColorInvert($info);
$info-light: findLightColor($info);
$pinfo-dark: findDarkColor($info);

$link: $aqua;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$fullhd: $widescreen;

$section-padding: 5em 1.5em;
$navbar-burger-color: $white;
$navbar-breakpoint: $tablet;

/*
$navbar-dropdown-boxed-shadow: 0;
$navbar-box-shadow-color: $red;

$navbar-box-shadow-size: 0 0 0 0;
$background: $red;
$navbar-item-hover-color: $red;
$navbar-background-color: $red;
*/
